<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="multibeamApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div id="header" class="header">
        <table class="layout" style="width: 100%">
            <tr class="layout">
                <td class="layout">
                    <a href="//ngdc.noaa.gov/" title="go to NGDC home"><img class="pull-left" src="https://www.ngdc.noaa.gov/image/nesdisngdcleft.gif" alt="National Geophysical Data Center (NGDC), NOAA Satellite and Information Service" border="0"/></a>
                    <img class="pull-right" src="https://www.ngdc.noaa.gov/mgg/image/nosright.gif" alt="Office of Coast Survey, NOAA National Ocean Service" border="0"/>
                </td>
            </tr>
            <tr class="layout">
                <td class="layout" style="padding-left:10px; background-color: #eeeeee; font-size:x-small;">
                    <div id="breadcrumbs" class="pull-left">
                        <a href="//www.noaa.gov/" title="National Oceanic &amp; Atmospheric Administration">NOAA</a> &gt;
                        <a href="//www.nesdis.noaa.gov/" title="NOAA Satellite &amp; Information Service">NESDIS</a> &gt;
                        <a href="//www.ngdc.noaa.gov" title="go to the National Centers for Environmental Information (formerly the National Geophysical Data Center) home">NCEI (formerly NGDC)</a> &gt;
                        <a href="/mgg/mggd.html" title="go to Marine Geology and Geophysics Data">Marine Geology and Geophysics</a> &gt;
                        <a href="//www.ngdc.noaa.gov/mgg/bathymetry/relief.html" title="go to bathymetry, topography, and relief">Bathymetry &amp; Relief</a>
                    </div>
                    <div id="privacy" class="pull-right" style="padding-right: 10px;">
                        <a href="//www.ngdc.noaa.gov/ngdcinfo/privacy.html" class="topnav" title="go to important notices, disclaimers, and privacy policy">privacy policy</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>  <!-- end header -->


    <div id="main" class="container-fluid">
        <div class="row">
            <div class="col-md-3" id="controlPanel" ng-controller="ControlPanelCtrl">

                <div>
                    <h4>Survey</h4>
                    <input type="text" ng-model="repository.selectedValues.survey" class="form-control"
                        placeholder="enter a survey name" 
                        uib-typeahead="survey for survey in repository.getSurveyNames($viewValue)" 
                        typeahead-loading="loadingSurveys" 
                        typeahead-no-results="noSurveyResults"
                        typeahead-on-select="surveySelectHandler()" >
                    <i ng-show="loadingSurveys" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noSurveyResults">
                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </div>      
                </div>

                <h4>Ship</h4>
                <input type="text" ng-model="repository.selectedValues.ship" class="form-control"
                placeholder="enter a ship name" typeahead-on-select="surveySelectHandler()"
                uib-typeahead="ship for ship in repository.platforms | filter:$viewValue | limitTo:8" >

                <h4>Source</h4>
                <input type="text" ng-model="repository.selectedValues.source" class="form-control"
                placeholder="enter a source name" typeahead-on-select="surveySelectHandler()"
                uib-typeahead="source for source in repository.sources | filter:$viewValue | limitTo:8" >

                <h4>Instrument</h4>
                <input type="text" ng-model="repository.selectedValues.instrument" class="form-control"
                placeholder="enter an instrument name" typeahead-on-select="surveySelectHandler()"
                uib-typeahead="instrument for instrument in repository.instruments | filter:$viewValue | limitTo:8" >

                <h4>Chief Scientist</h4>
                <input type="text" ng-model="repository.selectedValues.scientist" class="form-control"
                placeholder="enter a scientist name" typeahead-on-select="surveySelectHandler()"
                uib-typeahead="scientist for scientist in repository.chiefScientists | filter:$viewValue | limitTo:8">

                <h4>Departure Port</h4>
                <input type="text" ng-model="repository.selectedValues.departure" class="form-control"
                placeholder="enter a port name" typeahead-on-select="surveySelectHandler()"
                uib-typeahead="port for port in repository.departurePorts | filter:$viewValue | limitTo:8" >

                <h4>Arrival Port</h4>
                <input type="text" ng-model="repository.selectedValues.arrival" class="form-control"
                placeholder="enter a port name" typeahead-on-select="surveySelectHandler()"
                uib-typeahead="port for port in repository.arrivalPorts | filter:$viewValue | limitTo:8" >

                <h4>Start Date</h4>
                <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-change="surveySelectHandler()"
                ng-model="repository.selectedValues.start" is-open="popup1.opened" datepicker-options="startDateOptions" 
                ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                </p>

                <h4>End Date</h4>
                <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-change="surveySelectHandler()"
                ng-model="repository.selectedValues.end" is-open="popup2.opened" datepicker-options="endDateOptions" 
                ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                </p>

                <div id="BtnRow" class="row">
                <input id="resetBtn" class="btn btn-default pull-left" ng-click="resetBtnHandler()" type="button" value="Reset">
                <!--<input id="getDataBtn" class="btn btn-primary active pull-right" ng-click="getDataBtnHandler()" type="button" value="Get Data">-->
                <input id="switchViewBtn" class="btn btn-default pull-right" ng-click="switchViewBtnHandler($event)" type="button" value="HTML view">
                </div>
            </div>  <!-- end controlPanel -->    
            <div ng-view></div>
        </div>  <!-- end row -->   
    </div>  <!-- end main -->

    <div class="footer">
      <div class="container-fluid">
        <div class="pull-right" style="padding-right: 10px; font-size: x-small">
            Questions: <a href="mailto:hydro.info@noaa.gov?subject=RE: NOS Products Search" title="ask questions about data on this Web page"> hydro.info@noaa.gov</a>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/control_panel.js"></script>
        <script src="scripts/controllers/grid_results.js"></script>
        <script src="scripts/controllers/html_results.js"></script>

        <script src="scripts/services/repository.js"></script>
        <!-- endbuild -->
</body>
</html>
