<div class="row">
  <div class="col-md-3" id="controlPanel">
    <h4>Survey Name</h4>
    <!--<pre>Model: {{selected | json}}</pre>-->
    <input type="text" ng-model="selectedSurvey" 
      uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" 
      class="form-control">

    <h4>Ship Name</h4>
    <input type="text" ng-model="selectedShip" 
      uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" 
      class="form-control">

    <h4>Source</h4>
    <input type="text" ng-model="selectedSource" 
      uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" 
      class="form-control">

    <h4>Chief Scientist</h4>
    <input type="text" ng-model="selectedChiefScientist" 
      uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" 
      class="form-control">

    <h4>Departure Port</h4>
    <input type="text" ng-model="selectedDeparturePort" 
      uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" 
      class="form-control">

    <h4>Arrival Port</h4>
    <input type="text" ng-model="selectedArrivalPort" 
      uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" 
      class="form-control">

    <h4>Start Date</h4>
    <p class="input-group">
      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" 
      ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" 
      ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>

    <h4>End Date</h4>
    <p class="input-group">
      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" 
      ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" 
      ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>

    <div id="BtnRow" class="row">
    <input id="resetBtn" class="btn btn-default pull-left" type="button" value="Reset">
    <input id="getDataBtn" class="btn btn-primary active pull-right" type="button" value="Get Data">

    </div>
  </div>  <!-- end control panel -->

  <div class="col-md-9" id="resultsPanel">
    <div ui-grid="{ data: myData }" class="myGrid"></div>
  </div>  
</div>