<div class="row">
  <div class="col-md-3" id="controlPanel">


    <div>
      <h4>Survey</h4>
      <input type="text" ng-model="selectedValues.survey_name" 
        placeholder="enter a survey name" 
        uib-typeahead="survey for survey in getSurveyNames($viewValue)" 
        typeahead-loading="loadingSurveys" 
        typeahead-no-results="noSurveyResults"
        typeahead-on-select="surveySelectHandler()"
        class="form-control">
      <i ng-show="loadingSurveys" class="glyphicon glyphicon-refresh"></i>
      <div ng-show="noSurveyResults">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
      </div>      
    </div>

    <h4>Ship</h4>
    <input type="text" ng-model="selectedValues.ship_name"
      placeholder="enter a ship name"
      uib-typeahead="ship for ship in platforms | filter:$viewValue | limitTo:8" 
      class="form-control">

    <h4>Source</h4>
    <input type="text" ng-model="selectedValues.ship_source" 
      placeholder="enter a source name"
      uib-typeahead="source for source in sources | filter:$viewValue | limitTo:8" 
      class="form-control">

    <h4>Instrument</h4>
    <input type="text" ng-model="selectedValues.instrument"
      placeholder="enter an instrument name"
      uib-typeahead="instrument for instrument in instruments | filter:$viewValue | limitTo:8" 
      class="form-control">


    <h4>Chief Scientist</h4>
    <input type="text" ng-model="selectedValues.chief_scientist" 
      placeholder="enter a scientist name"
      uib-typeahead="scientist for scientist in chiefScientists | filter:$viewValue | limitTo:8" 
      class="form-control">

    <h4>Departure Port</h4>
    <input type="text" ng-model="selectedValues.departure_port" 
      placeholder="enter a port name"
      uib-typeahead="port for port in departurePorts | filter:$viewValue | limitTo:8" 
      class="form-control">

    <h4>Arrival Port</h4>
    <input type="text" ng-model="selectedValues.arrival_port"
      placeholder="enter a port name" 
      uib-typeahead="port for port in arrivalPorts | filter:$viewValue | limitTo:8" 
      class="form-control">

    <h4>Start Date</h4>
    <p class="input-group">
      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" 
      ng-model="selectedValues.start_date" is-open="popup1.opened" datepicker-options="startDateOptions" 
      ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>

    <h4>End Date</h4>
    <p class="input-group">
      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" 
      ng-model="selectedValues.end_date" is-open="popup2.opened" datepicker-options="endDateOptions" 
      ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>

    <div id="BtnRow" class="row">
    <input id="resetBtn" class="btn btn-default pull-left" ng-click="resetBtnHandler()" type="button" value="Reset">
    <input id="getDataBtn" class="btn btn-primary active pull-right" ng-click="getDataBtnHandler()" type="button" value="Get Data">

    </div>
  </div>  <!-- end control panel -->

  <div class="col-md-9" id="resultsPanel">
    <div ui-grid="gridOptions" class="myGrid"></div>
  </div>  
</div>